/*--------------------------------------------------------------------- File Name: responsive.css ---------------------------------------------------------------------*/


/*------------------------------------------------------------------- 991px x 768px ---------------------------------------------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
    
    .header-search {
        padding: 15px 0px;
    }
}


/*------------------------------------------------------------------- 767px x 599px ---------------------------------------------------------------------*/

@media only screen and (min-width: 599px) and (max-width: 767px) {
    .logo {
        text-align: center;
    }
    .cart-content-right {
        padding-bottom: 5px;
    }
    .mg {
        margin: 0px 0px;
    }
    .menu-area-main {
        height: 256px;
        overflow-y: auto;
    }
    .megamenu>.row [class*="col-"] {
        padding: 0px;
    }
    .menu-area-main .megamenu .men-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .women-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .el-cat {
        padding: 0px 15px;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        height: 19px;
    }
    .category-box.women-box {
        display: none;
    }
    .cart-box {
        display: inline-block;
        margin: 0px 30px;
    }
    .wish-box {
        float: none;
        margin: 0px 30px;
        display: inline-block;
    }
    .menu-add {
        display: none;
    }
    .category-box {
        display: none;
    }
    .mean-container .mean-nav ul li ol {
        padding: 0px;
    }
    .mean-container .mean-nav ul li a {
        padding: 10px 20px;
        width: 94.8%;
    }
    .mean-container .mean-nav ul li li a {
        width: 92%;
        padding: 1em 4%;
    }
    .mean-container .mean-nav ul li li li a {
        width: 100%;
    }
    .header-search {
        padding: 15px 0px;
    }
    #collapseFilter.d-md-block {
        padding: 30px 0px;
    }
}


/*------------------------------------------------------------------- 599px x 280px ---------------------------------------------------------------------*/

@media only screen and (min-width: 280px) and (max-width: 599px) {
    .cart-content-right {
        padding-bottom: 5px;
    }
    .megamenu>.row [class*="col-"] {
        padding: 0px;
    }
    .menu-area-main .megamenu .men-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .women-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .el-cat {
        padding: 0px 15px;
    }
    .mean-container .mean-nav ul li a {
        padding: 1em 4%;
        width: 92%;
    }
    .mean-container .mean-nav ul li li a {
        width: 90%;
        padding: 1em 5%;
    }
    .mean-container .sub-full.megamenu-categories ol li a {
        padding: 5px 0px;
        text-transform: capitalize;
        width: 100%;
    }
    .megamenu .sub-full.megamenu-categories .women-box .banner-up-text a {
        width: auto;
        border: none;
        float: none;
    }
    .menu-area-main {
        height: 45px;
        overflow-y: auto;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        top: 0;
    }





}

@media (min-width: 992px) and (max-width: 1199px) {
    
    .titlepage h2::after {width: 58%;}
    .about-box .titlepage h2::after {
        width: 52%;
right: -221px;
    }
    .Nursery-img .text-box h3 {padding: 111px 50px;}
    .contact .titlepage h2::after {
    left: -650px;
width: 30%;
   }

.top_header_section { padding: 10px; }
.left_main { width: 58%; }
.navbar-expand-lg .navbar-nav .nav-link { padding-right: 0px; padding-left: 1px; font-size: 16px;}
.submit_bt { font-size: 16px; }
.login_text { font-size: 16px; }
.red_bt a { width: 65%; padding: 12px; }
.usiing_text { font-size: 26px; }
.point_text { font-size: 13px; }
.banner_main { top: 5px; }
.about_text { width: 20%; }
.lorem_text { width: 80%; }
.about_section { background-size: cover; padding-bottom: 87px; }
.Cameras_text { width: 30%; }
.icon_main { width: 50%; }
.email_bt { width: 63%; }
.subscribe_bt { width: 37%; }
.long_text { width: 60%; padding-top: 0px; }
.taital_main { top: -125px; }
.navbar-nav ul li { padding-right: 7px; font-size: 25px;  }






}

@media (min-width: 768px) and (max-width: 991px) {
    .main-menu ul > li a {padding: 7px 6px ; }
    .main-menu ul>li a { font-size: 14px;}


    .banner-main .carousel-caption h1 {

        font-size: 36px;
        padding-top: 0px;
    }
    .banner-main .carousel-caption p {

        margin-bottom: 7px;
        display: none;
    }
    .main { width: 15%;}
    .info_icon { min-width: 10%;}
    #main_slider a.carousel-control-prev {
    display: none;
    }
    .btn_main { margin-top: 58px; width: 65%;}
    #main_slider a.carousel-control-next {
    display: none;
    }
    .sporrt_text { margin-top: 0px; font-size: 24px;}
    .email_btn { padding: 41px;}
    .btn-primary {max-width: 144px; }
    .titlepage h2::after {width: 79%;}
    .about-box .titlepage h2::after {width: 73%;
       right: -88px;
    }
    .contact .titlepage h2::after {
        left: -403px;
        width: 41%;
    }
    .paddimg-right {
        padding-right: 15px;
    }
    .paddimg-left {
         padding-left: 15px;
    }
.top_section { padding: 10px 0px; }
.call_taital li { font-size: 14px; padding-left: 10px; }
.top_taital { font-size: 14px; }
.left_main { width: 65%; margin-right: 15px; }
.search_main {
    width: 100%;
    padding-top: 0px;
    position: relative;
    top: -37px;
}
.logo { padding-top: 0px; }
.submit_bt { height: 35px; font-size: 12pt; }
.bg-light { padding-top: 20px; }
.banner_main { position: initial;}
.banner_right { width: 100%; position: initial;}
.usiing_text { font-size:26px; }
.red_bt a { display: none; }
.about_text { width: 27%; }
.about_section { background-size: cover; padding-bottom: 75px; }
.lorem_text { width: 71%; font-size: 14px; }
.Cameras_text { width: 40%; }
.taital_main { top: -105px; }
.bt_text a { width: 36%; padding: 12px; }
.send_bt { width: 25%; }
.send_text a { font-size: 16px; }
.footer_logo {
    width: 20%;
    margin: 0 auto;
    text-align: center;
    top: -57px;
    position: relative;
    float: initial;
}

.icon_main { width: 61%; margin-bottom: 30px; margin-top: 0px;}
.subscribe_bt { width: 36%; }
.email_bt { width: 64%; }
.social_icon { width: 59%; float: right; }
.footer_section { padding-bottom:40px;}
.long_text { width: 100%; }



}

@media (min-width: 576px) and (max-width: 767px) {
    .last {display: none;}
    .banner-main .carousel-caption {top: 0%;}
.titlepage h2 {
font-size: 42px;
display: block; 
}
#main_slider a.carousel-control-prev {
    position: absolute;
    left: 25%;
    top: 64%;
    display: none;
}
.btn_main { margin-top: 58px; width: 80%;}
#main_slider a.carousel-control-next {
    position: absolute;
    left: 50px;
    top: 64%;
    display: none;
}
.btn-primary {
    margin-top: 0px;
    margin-left: -7px;
}
.menu_main {
    width: 95%;}

.banner-main .carousel-caption h1 {
    font-size: 50px;
}
.titlepage h2::after {
width: 88%;
}

.about-box .titlepage h2::after {width: 45%;
right: -281px;}
.sporrt_text { margin-top: 0px;}
.Nursery-img .text-box h3 {
font-size: 36px;
padding: 126px 40px;
}
.main {
    width: 20%;}

.contact .titlepage h2::after {
    left: -234px;
    width: 55%;
}

.top_section { display: none; }
.search_main { width: 100%; top: -54px; position: relative;}
.right_main { display: none;}
.left_main { width: 100%; }
.bg-light { top: 20px; }
.banner_section { padding-bottom: 80px; }
.banner_main { position: initial;}
.banner_right { width: 100%; position: initial;}
.usiing_text { font-size:26px; }
.red_bt a { display: none; }
.images_2 { padding: 0px; }
.carousel-indicators li { top: 60px; }
.about_text { width: 36%; }
.about_section { background-size: cover; padding-bottom: 80px; }
.lorem_text { width: 100%; }
.about_bt a { width: 27%; }
.Cameras_text { width: 54%; }
.massage_box { margin-top: 30px; }
.send_bt { width: 35%; }
.send_text a { padding: 10px; }
.footer_logo {
    width: 20%;
    margin: 0 auto;
    text-align: center;
    top: -57px;
    position: relative;
    float: initial;
}

.icon_main { width: 66%; margin-bottom: 30px; margin-top: 0px;}
.subscribe_bt { width: 36%; }
.email_bt { width: 64%; }
.social_icon { width: 66%; float: right; }
.footer_section { padding-bottom:40px;}
.long_text { width: 100%; }
.top_header_section { padding: 0px; }

}


@media (max-width: 575px) {
    .last { display: none; }
    .carousel-caption {display: none;} 
.header { padding-top: 0px; }
.logo { float: inherit; padding-bottom: 15px; text-align: center;}
.btn-primary {max-width: 126px;
margin-right: 2px;
font-size: 14px;}
.banner-main .carousel-caption h1 {font-size: 30px; line-height: 38px;}
.titlepage h2 {
    font-size: 27px;
}
.sporrt_text{ 
     font-size: 23px; 
     margin-top: 0px;
}
.main {
    width: 30%;
}
.btn_main {
    margin-top: 30px;
    padding-bottom: 30px;
    width: 55%;}

#main_slider a.carousel-control-prev {
    position: absolute;
    left: 175px;
    top: 90%;
    display: none;
}

#main_slider a.carousel-control-next {
    position: absolute;
    left: 236px;
    top: 90%;
    display: none;
}

.titlepage h2::after {
    width: 93%;
}
    .about-box .titlepage h2::after {
        width: 238px;
        right: -50px;
    }
 .Gallery .titlepage h2 {
    font-size: 47px;
 }
    .Gallery .titlepage h2::after {
        width: 89%;
    }

    .paddimg-right {
    padding-right: 15px;
}
.paddimg-left {
    padding-left: 15px;
}
.Nursery-img .text-box h3 {
font-size: 23px;
padding: 30px 14px;

}

.contact .titlepage h2::after {

    left: -8px;
    width: 281px;
}
.footer .headinga span {
font-size: 16px;

}
.menu-bottom {
    margin-bottom: 45px;
}
ul.link li {

    padding: 8px 12px;
    padding-bottom: 0px; 
}


.top_section { display: none; }
.logo { float:left; padding-top: 0px; text-align: right;}
.bg-light { background-color: transparent !important; position: relative; top: -53px; left: -16px; }
.search_main { display: none;}
.red_bt { display: none;}
.banner_main { position: initial;}
.banner_right { width: 100%; position: initial;}
.usiing_text { font-size:26px; }
.point_text { width: 100%; font-size: 14px; }
.about_section { background-size: cover; padding-bottom: 50px;}
.about_text {width: 66%; position: relative; top: -83px; }
.lorem_text { width: 100%; }
.lorem_text { font-size: 14px; padding-top: 0px;}
.about_bt a { width: 45%;  }
.Cameras_text { width: 95%; position: relative; top: -40px; }
.taital_main { top:-85px; }
.best_text { font-size:24px; padding-bottom: 0px; }
.dolar_text { font-size:24px; }
.bt_text a { width: 45%; }
.camera_text { font-size:24px; padding-bottom: 0px;}
.dolar_text_2 { font-size:24px; }
.mail_section { padding:20px; }
.massage_box{ margin-top: 30px; }
.send_bt { width: 50%; }
.send_text a { padding: 10px; font-size: 16px; }
.long_text { width: 100%; font-size: 14px; } 
.footer_logo {
    width: 30%;
    margin: 0 auto;
    text-align: center;
    top: -50px;
    position: relative;
    float: initial;
}

.icon_main { width: 78%; margin-bottom: 30px; }
.subscribe_bt { width: 36%; }
.email_bt { width: 64%; }
.social_icon { width: 75%; float: right; }
.footer_section { padding-bottom:40px;}

.carousel-indicators { top:-80%; }